.synopsis {
    color: darkgray;
    font-style: italic;
}
.synopsis em { 
    font-style: normal;
}
.button:link
.button:visited {
    display: block;
    text-decoration: none;

    color: rgb(87, 110, 110);
    background-color: rgb(74, 74, 107);
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #476b8f;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}
.button:hover,
.button:visited:hover {
    color:#FFF;
    background-color: cadetblue;
}
.button:active,
.button:visited:active {
    color: #FFF;
    background-color: blue;
}

.page {
    width: 600px;
    margin: 0 auto;
}
.call-to-action {
    font-style: italic;
    background-color: purple;
}
.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;   
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;    
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     
}
h1 em {
    font-style: oblique;
}
a:link {
    color: blue;
    text-decoration: wavy;
}
a:visited {
    color: blueviolet;
}
a:hover {
    color: aquamarine;
    text-decoration: underline;
}
a:active {
    color: crimson;
}
a:visited:hover {
    color: coral;
}